<!DOCTYPE html>
<html>
    <head>
        <title>Keycloak Signature</title>
        <script type="module" src="/extension-signature/keycloak-signature.bundled.js"></script>
    </head>
    <body>
        <h1>Keycloak Signature</h1>
        <keycloak-signature
                payload="keycloak page payload"
                title="keycloak page Title"
                accept="keycloak page Accept"
                reject="keycloak page Reject"
                max-nr-of-auth-attempts="5">
            <span>Keycloak Signature Custom Element from Keycloak loaded! <br/> <br/></span>
        </keycloak-signature>
    </body>
</html>
